.company-name {
    font-family: 'Cursive', 'Arial', sans-serif;  /* Usa una fuente bonita */
    font-size: 20px;                             /* Ajusta el tamaño de la fuente */
    color:"white";                                 /* Color del texto */
    font-weight: bold;                           /* Hacer el texto negrita */
    margin-left: -50px;                           /* Espacio entre el logo y el texto */
    margin-right: 80px;                           /* Espacio entre el logo y el texto */
  }
  